@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

.main {
  height: 100vh;
  width: 100%;
  background-image: url("../img/background-login.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center; }
  .main::before {
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4); }
  .main .form {
    height: 400px;
    width: 80%;
    background-color: #fee3a8;
    border-radius: 10px;
    font-family: 'Work Sans', sans-serif;
    box-shadow: 0px 0px 20px 2px rgba(255, 255, 255, 0.8);
    z-index: 1; }
    .main .form .session {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: flex-start; }
      .main .form .session .fieldBox {
        width: 85%;
        height: auto; }
      .main .form .session .label {
        height: auto;
        width: 100%;
        margin-left: 20px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        font-size: 18px; }
        .main .form .session .label input {
          background-color: transparent;
          padding: 10px 0px;
          border: none;
          border-bottom: 1px solid #000;
          font-family: 'Work Sans', sans-serif;
          font-size: 14px; }
          .main .form .session .label input::placeholder {
            font-size: 14px;
            color: #000;
            font-family: 'Work Sans', sans-serif; }
          .main .form .session .label input:focus {
            outline: none; }
    .main .form .image {
      display: none; }
    .main .form .formbtn {
      height: 35px;
      width: 50%;
      margin: 0 auto;
      color: white;
      background-color: #000;
      border-radius: 5px;
      border: none;
      font-family: 'Work Sans', sans-serif; }

@media only screen and (min-width: 600px) {
  .main {
    background-position-x: -200px; }
    .main .form .session .formbtn {
      width: 40%; } }

@media only screen and (min-width: 768px) {
  .main {
    background-position-x: -100px; }
    .main .form {
      height: 350px;
      display: flex;
      align-items: center;
      overflow: hidden;
      box-shadow: 0px 0px 30px 3px rgba(0, 0, 0, 0.8); }
      .main .form .session {
        width: 50%;
        position: relative;
        z-index: 10; }
        .main .form .session::before {
          content: "";
          position: absolute;
          top: 0;
          left: -100px;
          height: 100%;
          width: 130%;
          background-color: rgba(0, 0, 0, 0.4);
          transform: skewX(-25deg);
          z-index: -1; }
        .main .form .session .label {
          color: #fee3a8;
          font-size: 18px; }
          .main .form .session .label input {
            width: 90%;
            color: #fff;
            border-bottom: 1px solid #fff; }
            .main .form .session .label input::placeholder {
              color: #fff; }
      .main .form .image {
        display: block;
        height: 85%;
        width: 50%; }
        .main .form .image img {
          height: 100%;
          width: 100%;
          object-fit: cover; }
      .main .form .formbtn {
        margin: 0 0px 0px 20px;
        background-color: #fee3a8;
        color: #000;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4); } }

@media only screen and (min-width: 1024px) {
  .main {
    background-position-x: 0; }
    .main .form {
      height: 375px;
      width: 75%; }
      .main .form .session .label {
        font-size: 20px; }
        .main .form .session .label input {
          font-size: 16px; } }

@media only screen and (min-width: 1300px) {
  .main .form {
    height: 425px; }
    .main .form .session::before {
      content: "";
      position: absolute;
      top: 0;
      left: -110px;
      height: 100%;
      width: 120%;
      background-color: rgba(0, 0, 0, 0.4);
      transform: skewX(-25deg);
      z-index: -1; }
    .main .form .session .label {
      font-size: 20px; }
      .main .form .session .label input {
        padding: 15px 0px; }
        .main .form .session .label input::placeholder {
          font-size: 16px; }
    .main .form .formbtn {
      height: 40px;
      font-size: 16px; } }

@media only screen and (min-width: 1600px) {
  .main .form {
    height: 475px; }
    .main .form .session .label {
      font-size: 22px; }
      .main .form .session .label input {
        font-size: 20px; }
    .main .form .formbtn {
      height: 40px;
      font-size: 16px; } }
