@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@200;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

.header {
  height: 200px;
  width: 100%;
  background-color: #f6ee2b; }
  .header .header__section--title {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 20px; }
  .header .header__section--filter {
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center; }
    .header .header__section--filter input {
      height: 40px;
      width: 230px;
      border-radius: 30px;
      border: none;
      position: relative;
      left: 10px;
      padding: 0px 10px;
      font-size: 14px;
      font-family: 'Spartan', sans-serif;
      box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4); }
      .header .header__section--filter input::placeholder {
        text-align: center;
        font-size: 14px;
        font-family: 'Spartan', sans-serif;
        position: relative;
        left: 10px; }
      .header .header__section--filter input:focus {
        outline: none; }
    .header .header__section--filter span {
      font-size: 35px;
      position: relative;
      left: 30px;
      top: 2px; }
    .header .header__section--filter .ul--filter {
      position: absolute;
      top: 0;
      height: 100vh;
      width: 100%;
      background-color: #14213d;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      opacity: 0;
      pointer-events: none;
      z-index: 1;
      transition: opacity  .8s; }
      .header .header__section--filter .ul--filter .ul__close {
        width: 100%;
        color: #fee440;
        font-size: 35px;
        display: flex;
        justify-content: flex-end;
        padding-right: 20px; }
      .header .header__section--filter .ul--filter .ul__item {
        list-style: none;
        padding: 15px; }
        .header .header__section--filter .ul--filter .ul__item button {
          width: 100%;
          padding: 10px;
          list-style: none;
          font-size: 20px;
          text-align: center;
          border: none;
          color: #fff;
          font-family: 'Varela Round', sans-serif;
          background-color: transparent;
          padding: 0px; }
    .header .header__section--filter .active {
      opacity: 1;
      pointer-events: unset;
      transition: opacity .8s; }

.main {
  height: 100vh;
  width: 100%;
  background-image: url("../img/background-login.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center; }
  .main::before {
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4); }
  .main .form {
    height: 400px;
    width: 80%;
    background-color: #fee3a8;
    border-radius: 10px;
    font-family: 'Work Sans', sans-serif;
    box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, 0.5);
    z-index: 1; }
    .main .form .session {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: flex-start; }
      .main .form .session .fieldBox {
        width: 85%;
        height: auto; }
      .main .form .session .label {
        height: auto;
        width: 100%;
        margin-left: 20px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        font-size: 18px; }
        .main .form .session .label input {
          background-color: transparent;
          padding: 10px 0px;
          border: none;
          border-bottom: 1px solid #000;
          font-family: 'Work Sans', sans-serif;
          font-size: 14px; }
          .main .form .session .label input::placeholder {
            font-size: 14px;
            color: #000;
            font-family: 'Work Sans', sans-serif; }
          .main .form .session .label input:focus {
            outline: none; }
    .main .form .image {
      display: none; }
    .main .form .faltan {
      padding: 0px 20px;
      text-align: center;
      font-size: 15px; }
    .main .form .remember {
      height: auto;
      margin: 0px auto;
      display: flex;
      align-items: center; }
      .main .form .remember input {
        margin-right: 5px; }
    .main .form .formbtn {
      height: 35px;
      width: 50%;
      margin: 0 auto;
      color: white;
      background-color: #000;
      border-radius: 5px;
      border: none;
      font-family: 'Work Sans', sans-serif;
      cursor: pointer; }

@media only screen and (min-width: 600px) {
  .main {
    background-position-x: -200px; }
    .main .form .session .formbtn {
      width: 40%; } }

@media only screen and (min-width: 768px) {
  .main {
    background-position-x: -100px; }
    .main .form {
      height: 350px;
      display: flex;
      align-items: center;
      overflow: hidden;
      box-shadow: 0px 0px 30px 3px rgba(0, 0, 0, 0.8); }
      .main .form .session {
        width: 50%;
        position: relative;
        z-index: 10; }
        .main .form .session::before {
          content: "";
          position: absolute;
          top: 0;
          left: -100px;
          height: 100%;
          width: 130%;
          background-color: rgba(0, 0, 0, 0.4);
          transform: skewX(-25deg);
          z-index: -1; }
        .main .form .session .label {
          color: #fee3a8;
          font-size: 18px; }
          .main .form .session .label input {
            width: 90%;
            color: #fff;
            border-bottom: 1px solid #fff; }
            .main .form .session .label input::placeholder {
              color: #fff; }
      .main .form .image {
        display: block;
        height: 85%;
        width: 50%; }
        .main .form .image img {
          height: 100%;
          width: 100%;
          object-fit: cover; }
      .main .form .faltan {
        text-align: left;
        color: #d90429;
        font-size: 16px;
        font-weight: 600; }
      .main .form .remember {
        margin: 0px 0px 0px 20px;
        color: #fff; }
      .main .form .formbtn {
        margin: 0 0px 0px 20px;
        background-color: #fee3a8;
        color: #000;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4); } }

@media only screen and (min-width: 1024px) {
  .main {
    background-position-x: 0; }
    .main .form {
      height: 375px;
      width: 75%; }
      .main .form .session .label {
        font-size: 20px; }
        .main .form .session .label input {
          font-size: 16px; } }

@media only screen and (min-width: 1300px) {
  .main .form {
    height: 425px; }
    .main .form .session::before {
      content: "";
      position: absolute;
      top: 0;
      left: -110px;
      height: 100%;
      width: 120%;
      background-color: rgba(0, 0, 0, 0.4);
      transform: skewX(-25deg);
      z-index: -1; }
    .main .form .session .label {
      font-size: 20px; }
      .main .form .session .label input {
        padding: 15px 0px; }
        .main .form .session .label input::placeholder {
          font-size: 16px; }
    .main .form .formbtn {
      height: 40px;
      font-size: 16px; } }

@media only screen and (min-width: 1600px) {
  .main .form {
    height: 475px; }
    .main .form .session .label {
      font-size: 22px; }
      .main .form .session .label input {
        font-size: 20px; }
    .main .form .formbtn {
      height: 40px;
      font-size: 16px; } }

.main--pokedex {
  height: auto;
  width: 100%;
  background-color: #f6ee2b;
  padding-bottom: 22px; }
  .main--pokedex .spinner {
    box-sizing: border-box;
    position: absolute;
    top: 180px;
    left: 42%;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border-top: 2px solid coral;
    border-right: 2px solid transparent;
    animation: spinner .7s linear infinite; }
  .main--pokedex .container__pokemons {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    padding: 20px 0px; }
    .main--pokedex .container__pokemons .card {
      width: 300px;
      height: 350px;
      border-radius: 10px;
      background: radial-gradient(50% 50% at 50% 50%, rgba(0, 0, 0, 0) 33.33%, rgba(0, 0, 0, 0.2) 100%); }
      .main--pokedex .container__pokemons .card .card--image {
        width: 240px;
        margin: 0px auto; }
        .main--pokedex .container__pokemons .card .card--image img {
          width: 100%;
          cursor: pointer;
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.45)); }
      .main--pokedex .container__pokemons .card .card--data {
        font-family: 'Varela Round', sans-serif;
        padding-left: 15px; }
        .main--pokedex .container__pokemons .card .card--data p {
          font-size: 18px; }
        .main--pokedex .container__pokemons .card .card--data h2 {
          font-size: 25px; }
          .main--pokedex .container__pokemons .card .card--data h2::first-letter {
            text-transform: uppercase; }
      .main--pokedex .container__pokemons .card .card--type {
        height: 50px;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center; }
        .main--pokedex .container__pokemons .card .card--type .grass, .main--pokedex .container__pokemons .card .card--type .poison, .main--pokedex .container__pokemons .card .card--type .fire, .main--pokedex .container__pokemons .card .card--type .water, .main--pokedex .container__pokemons .card .card--type .fairy, .main--pokedex .container__pokemons .card .card--type .psychic, .main--pokedex .container__pokemons .card .card--type .rock, .main--pokedex .container__pokemons .card .card--type .ground, .main--pokedex .container__pokemons .card .card--type .electric, .main--pokedex .container__pokemons .card .card--type .fighting, .main--pokedex .container__pokemons .card .card--type .ice, .main--pokedex .container__pokemons .card .card--type .flying, .main--pokedex .container__pokemons .card .card--type .bug, .main--pokedex .container__pokemons .card .card--type .normal, .main--pokedex .container__pokemons .card .card--type .ghost, .main--pokedex .container__pokemons .card .card--type .dark, .main--pokedex .container__pokemons .card .card--type .dragon, .main--pokedex .container__pokemons .card .card--type .steel {
          width: 130px;
          height: 35px;
          display: flex;
          align-items: center;
          justify-content: center;
          color: #fff;
          font-family: 'Varela Round', sans-serif;
          font-size: 20px;
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
          background-color: #67CB4F;
          border-radius: 10px;
          text-shadow: #000000 3px 2px 4px; }
          .main--pokedex .container__pokemons .card .card--type .grass::first-letter, .main--pokedex .container__pokemons .card .card--type .poison::first-letter, .main--pokedex .container__pokemons .card .card--type .fire::first-letter, .main--pokedex .container__pokemons .card .card--type .water::first-letter, .main--pokedex .container__pokemons .card .card--type .fairy::first-letter, .main--pokedex .container__pokemons .card .card--type .psychic::first-letter, .main--pokedex .container__pokemons .card .card--type .rock::first-letter, .main--pokedex .container__pokemons .card .card--type .ground::first-letter, .main--pokedex .container__pokemons .card .card--type .electric::first-letter, .main--pokedex .container__pokemons .card .card--type .fighting::first-letter, .main--pokedex .container__pokemons .card .card--type .ice::first-letter, .main--pokedex .container__pokemons .card .card--type .flying::first-letter, .main--pokedex .container__pokemons .card .card--type .bug::first-letter, .main--pokedex .container__pokemons .card .card--type .normal::first-letter, .main--pokedex .container__pokemons .card .card--type .ghost::first-letter, .main--pokedex .container__pokemons .card .card--type .dark::first-letter, .main--pokedex .container__pokemons .card .card--type .dragon::first-letter, .main--pokedex .container__pokemons .card .card--type .steel::first-letter {
            text-transform: uppercase; }
        .main--pokedex .container__pokemons .card .card--type .poison {
          background-color: #8a5dc0; }
        .main--pokedex .container__pokemons .card .card--type .fire {
          background-color: #fd7d24; }
        .main--pokedex .container__pokemons .card .card--type .water {
          background-color: #4592c4; }
        .main--pokedex .container__pokemons .card .card--type .fairy {
          background-color: #ff99ac; }
        .main--pokedex .container__pokemons .card .card--type .psychic {
          background-color: #e05780; }
        .main--pokedex .container__pokemons .card .card--type .rock {
          background-color: #926c15; }
        .main--pokedex .container__pokemons .card .card--type .ground {
          background-color: #bf8f00; }
        .main--pokedex .container__pokemons .card .card--type .electric {
          background-color: #f5cc00; }
        .main--pokedex .container__pokemons .card .card--type .fighting {
          background-color: #dc2f02; }
        .main--pokedex .container__pokemons .card .card--type .ice {
          background-color: #48cae4; }
        .main--pokedex .container__pokemons .card .card--type .flying {
          background-color: #4a9daa; }
        .main--pokedex .container__pokemons .card .card--type .bug {
          background-color: #358a48; }
        .main--pokedex .container__pokemons .card .card--type .normal {
          background-color: #84919a; }
        .main--pokedex .container__pokemons .card .card--type .ghost {
          background-color: #5b597e; }
        .main--pokedex .container__pokemons .card .card--type .dark {
          background-color: #1c1d1d; }
        .main--pokedex .container__pokemons .card .card--type .dragon {
          background-color: #41667e; }
        .main--pokedex .container__pokemons .card .card--type .steel {
          background-color: #349e7a; }
  .main--pokedex .pages {
    max-width: 500px;
    display: flex;
    justify-content: space-around;
    margin: 0px auto;
    font-size: 30px;
    padding: 20px 0px; }
    .main--pokedex .pages span {
      width: auto;
      cursor: pointer;
      margin: 0px 10px;
      color: #d90429; }

@keyframes spinner {
  to {
    transform: rotate(360deg); } }

.footer {
  height: 150px;
  width: 100%;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0px; }
  .footer .ft__derechos {
    height: auto;
    color: #fff;
    font-family: 'Quicksand', sans-serif; }
  .footer .ft__redes .redes__ul {
    display: flex;
    list-style: none;
    justify-content: center; }
    .footer .ft__redes .redes__ul .item {
      margin: 10px 15px;
      font-size: 25px; }
      .footer .ft__redes .redes__ul .item .instagram {
        color: #e4405f; }
      .footer .ft__redes .redes__ul .item .linkedin {
        color: #0077b6; }
      .footer .ft__redes .redes__ul .item .whatsapp {
        color: #20d466; }
      .footer .ft__redes .redes__ul .item:hover {
        transition: .5s;
        transform: translateY(-2px);
        cursor: pointer; }
  .footer .ft__session {
    height: 70px;
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around; }
    .footer .ft__session .btn {
      font-family: 'Quicksand', sans-serif;
      font-weight: 500;
      border: none;
      border-radius: 5px;
      width: 80px;
      height: 30px;
      background: #e63946;
      font-size: 16px;
      color: #fff;
      cursor: pointer; }
      .footer .ft__session .btn i {
        margin-right: 8px; }
      .footer .ft__session .btn:hover {
        color: #e63946;
        background-color: #fff;
        transition: .5s; }

@media only screen and (min-width: 600px) {
  .main--pokedex {
    padding-bottom: 30px; }
    .main--pokedex .spinner {
      left: 45%; }
    .main--pokedex .container__pokemons .card {
      width: 250px;
      height: 300px; }
      .main--pokedex .container__pokemons .card .card--image {
        width: 190px; }
      .main--pokedex .container__pokemons .card .card--type .planta {
        width: 115px;
        font-size: 19px; }
    .main--pokedex .pages {
      font-size: 25px; }
  .footer {
    height: 200px;
    padding: 20px 0px; } }

@media only screen and (min-width: 768px) {
  .body {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: repeat(2, auto); }
    .body .header {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-bottom: 20px; }
      .body .header .header__section--title {
        height: 150px;
        width: 100%;
        padding: 0px;
        align-items: center; }
        .body .header .header__section--title img {
          height: 80px;
          width: 226px; }
      .body .header .header__section--filter {
        height: 700px;
        width: 90%;
        margin-top: 50px;
        background-color: #9799ff;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 30px 0px 10px;
        border-radius: 10px;
        position: relative;
        gap: 40px; }
        .body .header .header__section--filter input {
          top: -30px;
          left: 0; }
        .body .header .header__section--filter span {
          display: none; }
        .body .header .header__section--filter .ul--filter {
          position: relative;
          top: 0;
          opacity: 1;
          pointer-events: unset;
          height: auto;
          display: flex;
          flex-wrap: wrap;
          justify-content: flex-start;
          align-items: center;
          gap: 30px 0px;
          background: none; }
          .body .header .header__section--filter .ul--filter .ul__close {
            display: none; }
          .body .header .header__section--filter .ul--filter .ul__item {
            height: 35px;
            width: 190px;
            padding: 0px; }
            .body .header .header__section--filter .ul--filter .ul__item button {
              height: 100%;
              width: 100%;
              border-radius: 10px;
              border: none;
              font-size: 16px;
              font-family: 'Varela Round', sans-serif;
              box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
              background-color: #fff;
              color: #000;
              cursor: pointer; }
              .body .header .header__section--filter .ul--filter .ul__item button:hover {
                outline: none;
                background: #fee440; }
    .body .main--pokedex {
      grid-column: 2 / 3;
      grid-row: 1 / 2; }
      .body .main--pokedex .spinner {
        top: 170px;
        left: 66%; }
      .body .main--pokedex .container__pokemons {
        padding-top: 200px;
        gap: 20px; }
        .body .main--pokedex .container__pokemons .card {
          height: 250px;
          width: 200px; }
          .body .main--pokedex .container__pokemons .card .card--image {
            width: 140px; }
          .body .main--pokedex .container__pokemons .card .card--data p {
            font-size: 16px; }
          .body .main--pokedex .container__pokemons .card .card--data h2 {
            font-size: 20px; }
          .body .main--pokedex .container__pokemons .card .card--type .grass, .body .main--pokedex .container__pokemons .card .card--type .poison, .body .main--pokedex .container__pokemons .card .card--type .fire, .body .main--pokedex .container__pokemons .card .card--type .water, .body .main--pokedex .container__pokemons .card .card--type .fairy, .body .main--pokedex .container__pokemons .card .card--type .psychic, .body .main--pokedex .container__pokemons .card .card--type .rock, .body .main--pokedex .container__pokemons .card .card--type .ground, .body .main--pokedex .container__pokemons .card .card--type .electric, .body .main--pokedex .container__pokemons .card .card--type .fighting, .body .main--pokedex .container__pokemons .card .card--type .ice, .body .main--pokedex .container__pokemons .card .card--type .flying, .body .main--pokedex .container__pokemons .card .card--type .bug, .body .main--pokedex .container__pokemons .card .card--type .normal, .body .main--pokedex .container__pokemons .card .card--type .ghost, .body .main--pokedex .container__pokemons .card .card--type .dark, .body .main--pokedex .container__pokemons .card .card--type .dragon, .body .main--pokedex .container__pokemons .card .card--type .steel {
            width: 90px;
            font-size: 16px; }
    .body .footer {
      height: 70px;
      grid-column: 1 / 3;
      flex-direction: row;
      justify-content: space-between;
      padding: 0px 20px; }
      .body .footer .ft__derechos {
        width: 200px;
        text-align: center; }
      .body .footer .ft__session {
        width: 200px;
        flex-direction: row;
        justify-content: space-evenly; } }

@media only screen and (min-width: 1024px) {
  .body {
    grid-template-columns: 35% 65%; }
    .body .header .header__section--title img {
      height: 100px;
      width: 266px; }
    .body .header__section--filter {
      width: 85%; }
  .main--pokedex .spinner {
    left: 64.5% !important; } }

@media only screen and (min-width: 1200px) {
  .body {
    grid-template-columns: 30% 70%; }
    .body .header .header__section--filter .ul--filter {
      padding: 0px 20px; }
    .body .main--pokedex .spinner {
      top: 160px;
      left: 62.5% !important; }
    .body .main--pokedex .container__pokemons .card {
      width: 250px;
      height: 280px; }
      .body .main--pokedex .container__pokemons .card .card--image {
        width: 170px; }
      .body .main--pokedex .container__pokemons .card .card--data p {
        font-size: 18px; }
      .body .main--pokedex .container__pokemons .card .card--data h2 {
        font-size: 22px; }
      .body .main--pokedex .container__pokemons .card .card--type .grass, .body .main--pokedex .container__pokemons .card .card--type .poison, .body .main--pokedex .container__pokemons .card .card--type .fire, .body .main--pokedex .container__pokemons .card .card--type .water, .body .main--pokedex .container__pokemons .card .card--type .fairy, .body .main--pokedex .container__pokemons .card .card--type .psychic, .body .main--pokedex .container__pokemons .card .card--type .rock, .body .main--pokedex .container__pokemons .card .card--type .ground, .body .main--pokedex .container__pokemons .card .card--type .electric, .body .main--pokedex .container__pokemons .card .card--type .fighting, .body .main--pokedex .container__pokemons .card .card--type .ice, .body .main--pokedex .container__pokemons .card .card--type .flying, .body .main--pokedex .container__pokemons .card .card--type .bug, .body .main--pokedex .container__pokemons .card .card--type .normal, .body .main--pokedex .container__pokemons .card .card--type .ghost, .body .main--pokedex .container__pokemons .card .card--type .dark, .body .main--pokedex .container__pokemons .card .card--type .dragon, .body .main--pokedex .container__pokemons .card .card--type .steel {
        width: 115px;
        font-size: 18px; }
    .body .footer .ft__redes .redes__ul .item {
      font-size: 30px; } }

@media only screen and (min-width: 1440px) {
  .body {
    grid-template-columns: 25% 75%; }
    .body .header .header__section--filter {
      max-width: 340px; }
      .body .header .header__section--filter .ul--filter {
        padding: 0px 40px; }
    .body .main--pokedex .container__pokemons {
      gap: 40px; }
      .body .main--pokedex .container__pokemons .card {
        width: 300px;
        height: 310px; }
        .body .main--pokedex .container__pokemons .card .card--image {
          width: 190px; }
        .body .main--pokedex .container__pokemons .card .card--data p {
          font-size: 20px; }
        .body .main--pokedex .container__pokemons .card .card--data h2 {
          font-size: 24px; }
        .body .main--pokedex .container__pokemons .card .card--type .grass, .body .main--pokedex .container__pokemons .card .card--type .poison, .body .main--pokedex .container__pokemons .card .card--type .fire, .body .main--pokedex .container__pokemons .card .card--type .water, .body .main--pokedex .container__pokemons .card .card--type .fairy, .body .main--pokedex .container__pokemons .card .card--type .psychic, .body .main--pokedex .container__pokemons .card .card--type .rock, .body .main--pokedex .container__pokemons .card .card--type .ground, .body .main--pokedex .container__pokemons .card .card--type .electric, .body .main--pokedex .container__pokemons .card .card--type .fighting, .body .main--pokedex .container__pokemons .card .card--type .ice, .body .main--pokedex .container__pokemons .card .card--type .flying, .body .main--pokedex .container__pokemons .card .card--type .bug, .body .main--pokedex .container__pokemons .card .card--type .normal, .body .main--pokedex .container__pokemons .card .card--type .ghost, .body .main--pokedex .container__pokemons .card .card--type .dark, .body .main--pokedex .container__pokemons .card .card--type .dragon, .body .main--pokedex .container__pokemons .card .card--type .steel {
          width: 130px;
          font-size: 22px; } }
