@media only screen and (min-width: 600px){
  .main--pokedex{
    .container__pokemons{
      .card{
        width: 250px;
        height: 300px;
        .card--image{
          width: 190px;
        }
        .card--type{
          .planta{
            width: 115px;
            font-size: 19px;
          }
        }
      }
    }
    .pages{
      font-size: 25px;
    }
  }
}
@media only screen and (min-width: 768px){
  .body{
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: repeat(2, auto);
    .header{
      grid-column: 1 / 2 ;
      grid-row: 1 / 2;
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      .header__section--title{
        height: 150px;
        width: 100%;
        padding: 0px;
        align-items: center;
        img{
          height: 80px;
          width: 226px;
        }
      }
      .header__section--filter{
        height: 700px;
        width: 90%;
        margin-top: 50px;
        background-color: #9799ff;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 30px 0px 10px;
        border-radius: 10px;
        position: relative;
        gap: 40px;
        input{
          top: -30px;
          left: 0;
        }
        span{
          display: none;
        }
        .ul--filter{
          position: relative;
          top: 0;
          opacity: 1;
          pointer-events: unset;
          height: auto;
          display: flex;
          flex-wrap: wrap;
          justify-content: flex-start;
          align-items: center;
          gap: 30px 0px;
          background: none;
          .ul__close{
            display: none;
          }
          .ul__item{
            height: 35px;
            width: 190px;
            padding: 0px;
            button{
              height: 100%;
              width: 100%;
              border-radius: 10px;
              border: none;
              font-size: 16px;
              font-family: 'Varela Round', sans-serif;
              box-shadow: 0px 2px 5px rgba(0, 0, 0, .4);
              background-color: #fff;
              color: #000;
              cursor: pointer;

              &:hover{
                outline: none;
                background: #fee440 ;
              }
            }
            
          }
        }
      }
    }
    .main--pokedex{
      grid-column: 2 / 3 ;
      grid-row: 1 / 2;
      .container__pokemons{
        padding-top: 200px;
        gap: 20px;
        .card{
          height: 250px;
          width: 200px;
          .card--image{
            width: 140px;
          }
          .card--data{
            p{
              font-size: 16px;
            }
            h2{
              font-size: 20px;
            }
          }
          .card--type{
            .planta{
              width: 90px;
              font-size: 16px;
            }
          }
        }
      }
    }
    .footer{
      height: 70px;
      grid-column: 1 / 3;
      flex-direction: row;
      justify-content: space-between;
      padding: 0px 20px;
      .ft__derechos{
        width: 200px;
        text-align: center;
      }
      .ft__session{
        width: 200px;
        flex-direction: row;
        justify-content: space-evenly;
      }
    }
  }
  }
  
  

@media only screen and (min-width: 1024px){
  .body{
    grid-template-columns: 35% 65%;
    .header{
        .header__section--title{
          img{
            height: 100px;
            width: 266px;
          }
        }
      }
      .header__section--filter{
        width: 85%;
      }
    }
  }
  @media only screen and (min-width: 1200px){
    .body{
      grid-template-columns: 30% 70%;
      .header{
        .header__section--filter{
          .ul--filter{
            padding: 0px 20px;
          }
        }
      }
      .main--pokedex{
        .container__pokemons{
          .card{
            width: 250px;
            height: 280px;
            .card--image{
              width: 170px;
            }
            .card--data{
              p{
                font-size: 18px;
              }
              h2{
                font-size: 22px;
              }
            }
            .card--type{
              .planta{
                width: 115px;
                font-size: 18px;
              }
            }
            
          }
        }
      }
      .footer{
        .ft__redes{
          .redes__ul{
            .item{
              font-size: 30px;
            }
          }
        }
      }
    }
  }

@media only screen and(min-width: 1440px){
  .body{
    grid-template-columns: 25% 75%;
    .header{
      .header__section--filter{
        max-width: 340px;
        .ul--filter{
          padding: 0px 40px;
        }
      }
    }
    .main--pokedex{
      .container__pokemons{
        gap: 40px;
        .card{
          width: 300px;
          height: 310px;
          .card--image{
            width: 190px;
          }
          .card--data{
            p{
              font-size: 20px;
            }
            h2{
              font-size: 24px;
            }
          }
          .card--type{
            .planta{
              width: 130px;
              font-size: 22px;
            }
          }
        }
      }
    }
  }
}