.header{
  height: 200px;
  width: 100%;
  background-color: #f6ee2b;
  .header__section--title{
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 20px;
  }
  .header__section--filter{
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    input{
      height: 40px;
      width: 230px;
      border-radius: 30px;
      border: none;
      position: relative;
      left: 10px;
      padding: 0px 10px;
      font-size: 14px;
      font-family: 'Spartan', sans-serif;
      &::placeholder{
        text-align: center;
        font-size: 14px;
        font-family: 'Spartan', sans-serif;
        position: relative;
        left: 10px;
      }
      &:focus{
        outline: none;
      }
    }
    span{
      font-size: 35px;
      position: relative;
      left: 30px;
      top: 2px;
    }
    .ul--filter{
      display: none;
    }
    .active{
      position: absolute;
      top: 0;
      height: 100vh;
      width: 100%;
      display: flex;
      background-color: #14213d;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      z-index: 1;
      .ul__close{
        width: 100%;
        color: #fee440;
        font-size: 35px;
        display: flex;
        justify-content: flex-end;
        padding-right: 20px;
      }
      .ul__item{
        list-style: none;
        padding: 15px;
        button{
          width: 100%;
          padding: 10px;
          list-style: none;
          font-size: 20px;
          text-align: center;
          border: none;
          color: #fff;
          font-family: 'Varela Round', sans-serif;
          background-color: transparent;
          padding: 0px;
        }
      }
    }
  }
}
